<div class="container__big-card">

    <div class="big-card__photo">
        <img src= "{{photoCover}}"
        alt=""
        srcset=""
        >
    </div>

    <div class="big-card__title">
        <h1><a href="#"> {{ cardTitle }}</a></h1>
    </div>

    <div class="big-card__description">
        <p>
            O BTS com toda certeza é o maior grupo de K-pop da atualidade. Os garotos de Seul, tal qual os Beatles, conquistaram o mundo e estão quebrando recordes atrás de recordes e vem se tornando um dos grupos musicais mais populares do mundo.
        </p>
    </div>

</div>
